:root {
  --color-white: #fff;
  --color-black: #000;
  --color-black-1: #252525;
  --color-black-2: #353232;
  --color-grey-light: #e2e2e2;
  --color-grey-dark: #191919;
  --color-indigo: #1223d6;
  --color-rank-1: #4e58ce;
  --color-rank-2: #555db6;
  --color-rank-3: #6971ce;
  --color-rank-4: #6b72c4;
  --color-rank-5: #7178be;
  --color-red: #da0f47;
  --color-red-light: #fd5f8c;
  --color-light: #e0e5ec;
  --color-light-1: #f0f3f8;
  --shadow-black-top: 0 -7px 16px rgba(0, 0, 0, 0.2);
  /* --morph-shadow: 9px 9px 16px rgb(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.5);
  --morph-shadow-hov: 9px 9px 16px rgba(140, 162, 196, 0.6),
    -9px -9px 16px rgba(238, 238, 238, 0.5); */
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  line-height: 1.65;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  -webkit-font-smooth: antialiased;
  -webkit-tap-highlight-color: transparent;
  background-color: var(--color-light);
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
html {
  font-size: 62.5%;
}
@media (max-width: 900px) {
  html {
    font-size: 60%;
  }
}
@media (max-width: 900px) {
  html {
    font-size: 60%;
  }
}
@media (max-width: 800px) {
  html {
    font-size: 57%;
  }
  body{
    background-color: var(--color-grey-dark);
  }
}
@media (max-width: 700px) {
  :root {
    /* --morph-shadow: 9px 9px 16px rgba(140, 162, 196, 0.6),
      -9px -9px 16px rgba(238, 238, 238, 0.5); */
  }
 
  html {
    font-size: 55%;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 52.5%;
  }
}
@media (max-width: 550px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 400px) {
  html {
    font-size: 48%;
  }
}
