:root {
  --color-white: #fff;
  --color-blak: #000;
  --color-grey-light: #e2e2e2;
  --color-grey-dark: #191919;
  --color-red: #DA0F47;
  --color-red-light: #fd5f8c;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  line-height: 1.65;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  -webkit-font-smooth: antialiased;
  background-color: var(--color-white);
  font-family: "Lato", sans-serif;
}
html {
  font-size: 62.5%;
}
